#debuger {
	background: #ddd;
	border: 1px solid #000;
	width: 95%;
	margin: 10px auto;
}
#debuger h2 {
	font-size: 24px;
	background: #739274;
	border: 1px solid #000;
	padding: 5px;
}
#debuger p {
	font-size: 16px;
	border: 1px solid #000;
	overflow: hidden;
}
#debuger p span {
	background:#fff;
	border-right: 1px solid #000;
	display: block;
	width: 20px;
	float: left;
	height: 30px;
	margin-right: 5px;
	text-align: center;
}